Q1). Write an SQL query to show only odd rows from aÂ table.

Ans) 

SELECT * FROM( SELECT rownum rn, empno, ename FROM emp) temp WHERE  MOD(temp.rn,2) = 1|

Q2). Write an SQL query to clone a new table from another table.

Ans) 

CREATE TABLE new_table LIKE original_table;
INSERT INTO new_table SELECT * FROM original_table;
CREATE TABLE employees_clone LIKE employees;
INSERT INTO employees_clone SELECT * FROM employees;